{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instituto LS</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500&family=Kalam:wght@300&display=swap" rel="stylesheet">
  
    <!-- fontawesome -->
    <link href="{% static 'fontawesome/css/fontawesome.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/brands.min.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/solid.min.css' %}" rel="stylesheet">
  
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<!-- NAVBAR  -->
<header>
    <nav class="navbar navbar-expand-lg bg-light fixed-top">
      <div class="container-fluid">
        <a href="/"><img id="logo" src="{% static 'img/lynda_sobrancelhas_logo_y_bevel.png' %}" width="38px"></a>
        <a class="navbar-brand m-0 ms-2 p-0" href="/">Instituto Lynda Sobrancelhas</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" aria-current="page" href="/">Início</a></li>
            <li class="nav-item"><a class="nav-link" href="{%url 'quem-somos' %}">Quem somos</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'nosso-estudio' %}">Nosso estúdio</a></li>
            <li class="nav-item"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#contact-modal" href="#">Contato</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <!-- END NAVBAR -->

<body>

{% block content %}

{% endblock content %}

<!-- FOOTER -->
<footer class="p-0 mt-3">
    <section class="social container-fluid m-0">
      <div class="row justify-content-between">
        <div class="col-md-5 container-fluid ps-3 pt-2 pb-3 mt-4 text-center">
          <p class="fs-3 fw-bold mb-0">Instituto Lynda Sobrancelhas </p>
          <p class="container"><a class="link-dark" target="_blank"
              href="https://www.google.com/maps/uv?pb=!1s0xbe7fcbc2e56327%3A0x882e2a3a8f715180!3m1!7e115!4shttps%3A%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipPeiXde-7gz113KsG_oScDda6Jd7ApUAVc3-UrJ%3Dw180-h160-k-no!5slynda%20sobrancelha%20-%20Pesquisa%20Google!15sCgIgAQ&imagekey=!1e10!2sAF1QipPeiXde-7gz113KsG_oScDda6Jd7ApUAVc3-UrJ&hl=pt-BR&sa=X&ved=2ahUKEwjDwvyYyYP6AhWRBbkGHYkRAJoQoip6BAhQEAM">R.
              Saldanha Marinho, 450 - Centro, Campos dos Goytacazes/RJ</a></p>
        </div>
        <i class="col-md-2 divisor"></i>
        <div id="footer-contact" class="col-md-5 container-fluid ps-3 pt-2 pb-3">
         <p class="fs-3 fw-bold mb-0">Fale conosco</p>
         <div class="row">
            <a target="_blank" href="https://www.instagram.com/keniaandrade.pmu/" class="link-dark me-3"> <i
                class="fa-brands fa-instagram col-md-2 w-auto me-1" style="color: #b83e4b"></i>Kenia Andrade</a>
            <a target="_blank" href="https://wa.me/5522999981407" class="link-dark me-3"> <i
                class="fa-brands fa-whatsapp col-md-2 w-auto me-1" style="color: green"></i>(22) 99998-1407</a>
            <a target="_blank" href="https://www.instagram.com/ednaldo.andrade_pmu/" class="link-dark me-3"> <i
                class="fa-brands fa-instagram col-md-2 w-auto me-1" style="color: darkgold"></i>Ednaldo Andrade</a>
            <a target="_blank" href="https://wa.me/5522999669328" class="link-dark me-3"> <i
                class="fa-brands fa-whatsapp col-md-2 w-auto me-1" style="color: green"></i>(22) 99966-9328</a>
          </div>  
        </div>
      </div>
    </section>
  </footer>
  <div id="copyright" class="text-center p-0 m-0"> 
    <p class="p-0 m-0 me-3 text-end">&copy 2022 Todos os direitos reservados</p>
    <p class="m-0 me-3 text-end">Dev by <a class="link-dark" target="_blank" href="http://www.barretolopes.com">mayconblopes</a></p>
  </div>
  <!-- END FOOTER -->

<!-- Contact Modal -->
<div class="modal fade" id="contact-modal" tabindex="-1" aria-labelledby="contact-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <header class="modal-header">
        <h5 class="modal-title" id="contact-label">Converse conosco!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </header>
      <main class="modal-body">
        <form>
          <div class="mb-3">
            <label for="custumer-name" class="form-label">Seu nome</label>
            <input class="form-control" id="custumer-name">
          </div>

          <div class="mb-3">
            <label for="custumer-msg" class="form-label">Sua mensagem</label>
            <textarea class="form-control" id="custumer-msg" rows="3"></textarea>
          </div>

          <button type="submit" class="btn btn-primary btn-gold-ls">Enviar</button>
        </form>
      </main>
    </div>
  </div>
</div>
<!-- END CONTACT MODAL -->

  
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>

</body>
</html>