{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/quem_somos.css' %}">
{% endblock head %}  

{% block content %}

  <main>
    <!-- CARROSEL -->

    <div id="carousel-hero" class="carousel slilde carousel-fade" data-bs-interval="15000" data-touch="true" data-bs-ride="carousel">

      <div class="carousel-inner carousel-background">
        
        <!-- HEROS -->
        {% for hero in heroes %}
          {% if forloop.first %}
            <div class="carousel-item active">
          {% else %}
            <div class="carousel-item">
          {% endif %}
              <div class="container">
                  <div class="row align-items-center flex-row">
                    <img src="{{hero.cover}}" class="mt-5 col-6" alt="...">

                    <section class="hero-caption col-6 mt-5 p-0 pt-5 pe-5 text-light">
                      <p>
                        Olá, eu sou <span class="text-warning">{{hero.name}}</span>.<br>
                        {{hero.bio}}
                      </p>
                      </p>
                    </section>
                  </div>
              </div>
            </div>
        {% endfor %}
        <!-- END HERO[0] -->

        {% comment %} <!-- HERO[1] -->
        <div class="carousel-item">
          <div class="container">
            <div class="row align-items-center flex-row">
              <img src="{{heros[1].cover}}" class="w-50 mt-5 col-6" alt="...">

              <section class="hero-caption col-6 mt-5 p-0 pt-5 pe-5 text-light">
                <p>
                  Olá, eu sou <span class="text-warning">{{heros[1].name}}</span>.<br> 
                  {{heros[1].bio}}
                </p>
              </section>
            </div>
        </div>
        <!-- END HERO[1] --> {% endcomment %}
      </div>
      <button class="carousel-control-next" type="button" data-bs-target="#carousel-hero" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <!-- END CARROSEL -->

    <!-- DESTAQUE 1 -->
    <section class="fs-5 mt-5 pt-3 pb-1 mb-5 container text-center bg-light rounded w-75 shadow-sm">
      <div class="row">
        <img src="{% static 'img/top_of_mind.jpg' %}" width="80%" alt="Kenia e Ednaldo sendo reconhecidos na premiação Top of Mind Brazil.">
        <p class="mt-4">Somos bicampeões do prêmio <span class="fw-bold">Top of Mind Brazil</span>!<p>
      </div>
    </section>
    <!-- END DESTAQUE 1-->

    <!-- DESTAQUE 2 -->
    <section class="fs-5 mt-5 pt-3 pb-1 mb-5 container text-center bg-light rounded w-75 shadow-sm">
      <p>
        Somos profissionais altamente capacitados para entregar com excelência o resultado esperado, por meio das técnicas mais modernas disponíveis.
        Nossa metodologia tem alicerce na melhoria contínua e promoção da autoestima do ser humano.
        <br>
        <span class="fw-semibold">Veja o que alguns de nossos clientes falam sobre nossos serviços e venha nos conhecer, será um enorme prazer!</span>
      </p>
    </section>
    <!-- END DESTAQUE 2-->

    <!-- GALLERY -->
    <section class="container">
        <div class="d-flex flex-wrap gallery align-items-center justify-content-evenly">

          <!-- FEEDBACKS EM VIDEO -->
            {{feedbacks.video_iframe|safe}}
            
          <!-- FEEDBACKS EM IMAGENS -->
            {{feedbacks.image_iframe|safe}}

      </section>  
      <!-- END GALLERY --> 

  </main>

{% endblock content %} 
