body {
    background-image: linear-gradient(to bottom, #ffffff, #e5e5e5);
    font-family: 'Fredoka', sans-serif;

}

.gold-ls {
    color:#cc9900;
}

.btn-gold-ls {
    background-color: #cc9900;
    border: #eab124;
    color: black;
}

.border-gold-ls {
    border-color:#cc9900;
}

.black-ls {
    color:rgb(3, 1, 32);
}

.navbar {
    box-shadow: 2px 1px 5px #00000096;
}

.nav-link:hover {
    color: black;
}

@media (max-width: 400px) {
    #logo {
        width: 30px;
    }

    .navbar-brand {
        font-size: 16px;
    }

    .navbar-toggler {
        padding: 0;

    }
}

.carousel-img {
    object-fit: cover;
    object-position: 0 0%;
    height: 500px;
}

.carousel-caption {
    text-align: right;
    left: auto;
    bottom: 9%;
}

@media (max-width: 767px){

    .carousel-title {
       color: #cc9900;
       margin: 0;
    }

    .carousel-caption {
        display: flex !important;
        align-items: center;
        justify-content: center;
        left: 15%;
        height: 48px !important;
        background-color: rgba(0, 0, 0, 0.562);
        border-radius: 10px;
    }

    .carousel-control-next {
        align-items: flex-end;
        margin-bottom: 53px;
    }
}

/* .carousel-control-next-icon, .carousel-control-prev-icon {
    -webkit-filter: invert(100%); 
    filter: invert(100%);
} */

/* .carousel-indicators [data-bs-target]{
    background-color: #cc9900;
} */

@media (max-width: 818px) {
    .carousel-img {
        object-position: 6% 0;
    }
}


.card-img-position {
    object-fit: cover;
    height: 200px;
}

.card-default-width {
    width: 18rem;
}


footer {
    background-color: #D9D9D9;
}
/*
.social.container {
    display: flex;
}

.footer-side {
    width: max-content;
}
 */

.divisor {
    background-image: url("/src/img/footer_divisor.png");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position-x: 50%;
    background-position-y: 50%;
}

#footer-contact {
    background-image: url("/src/img/footer_flower.png");
    background-size: 75px;
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-position-y: 50%;
    border-left: 2px black;
    
} 



@media (max-width: 767px){
    #footer-contact {
        background-image: none;
        text-align: center;
    } 
}


#copyright {
    background-color: #D9D9D9;
    box-shadow: 2px 1px 5px #00000096;
}